:root {
  --white: #ffffff;
  --white-transparent-60: rgba(255, 255, 255, 0.6);
  --white-transparent-30: rgba(255, 255, 255, 0.3);
  --white-transparent-10: rgba(255, 255, 255, 0.1);
  --black: #000000;
  --black-transparent-60: rgba(0, 0, 0, 0.6);
  --black-transparent-40: rgba(0, 0, 0, 0.4);
  --black-transparent-30: rgba(0, 0, 0, 0.3);
  --black-transparent-25: rgba(0, 0, 0, 0.25);
  --black-transparent-20: rgba(0, 0, 0, 0.2);
  --black-transparent-15: rgba(0, 0, 0, 0.15);
  --grey: #e5e5e5;
  --grey-dark: #333333;
  --grey-blue: #727e85;
  --grey-light: #f2f2f2;
  --grey-super-light: rgba(242, 242, 242, 0.8);
  --brown: #756157;
  --brown-dark: #615048;
  --brown-light: rgba(117, 97, 87, 0.3);
  --blue: #82b3d3;
  --blue-light: #83b3d3;
  --blue-darker: #68a2ca;
  --blue-dark: #3f5e72;
  --blue-transparent-12: rgba(131, 179, 211, 0.12);
  --blue-transparent-20: rgba(131, 179, 211, 0.2);
  --green: #7db54f;
  --green-dark: #6c9e42;
  --coral-red: #ff5757;

  --text-color: var(--grey-dark);
  --text-color-accent: var(--black);
  --text-color-contrast: var(--white);
  --text-color-hover: var(--white-transparent-60);
  --text-color-active: var(--white-transparent-30);
  --text-color-menu-hover: var(--brown);
  --text-color-disabled: var(--white-transparent-10);
  --text-color-error: var(--coral-red);

  --bg-color-basic: var(--white);
  --bg-color-main: var(--blue);
  --bg-color-secondary: var(--blue-dark);
  --bg-color-accent: var(--blue-transparent-12);
  --bg-color-accent-lighter: var(--blue-transparent-20);
  --bg-color-additional: var(--grey-light);
  --bg-color-overlay: var(--grey-super-light);
  --bg-color-tooltip: var(--grey-dark);

  --button-primary: var(--brown);
  --button-primary-hover: var(--brown-dark);
  --button-secondary: var(--blue);
  --button-secondary-hover: var(--blue-darker);
  --button-accent: var(--green);
  --button-accent-hover: var(--green-dark);
  --button-disabled: var(--grey);

  --input-color: var(--grey-light);
  --input-color-hover: var(--grey);
  --input-range-color: var(--grey-blue);
  --input-label-color: var(--black-transparent-30);
  --input-checkbox-color: var(--blue-dark);
  --input-placeholder-color: var(--black-transparent-60);

  --icon-color: var(--blue-light);
  --icon-color-hover: var(--blue-darker);
  --icon-color-additional: var(--black);
  --icon-color-accent: var(--green);
  --icon-color-active: var(--black-transparent-30);
  --icon-color-controls: var(--brown-light);

  --border-color: var(--grey);
  --border-hover: var(--blue-darker);
  --border-active: var(--black);

  --underline-light: var(--white-transparent-30);
  --underline-dark: var(--black-transparent-30);

  --shadow-color: var(--black-transparent-20);
  --shadow-toggle-hover: var(--black-transparent-25);
  --shadow-toggle-active: var(--black-transparent-40);
  --shadow-color-modal: var(--black-transparent-15);
  --shadow-color-tooltip: var(--black-transparent-30);

  --browser-outline: 3px solid var(--blue-light);
  --browser-outline-toggle: 2px solid var(--blue-light);
}

@font-face {
  font-family: "PT Sans";
  font-weight: 400;
  font-style: normal;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-weight: 700;
  font-style: normal;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

.page {
  height: 100%;
}

.page__body {
  height: 100%;
  margin: 0;
  font-family: "PT Sans", sans-serif;
  font-size: 22px;
  line-height: 26px;
  color: var(--text-color);
  background-color: var(--bg-color-additional);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.page__wrapper {
  display: flex;
  flex-direction: column;
  width: 1200px;
  min-height: 100%;
  margin: 0 auto;
  background-color: var(--bg-color-basic);
  box-shadow: 0 0 15px 0 var(--shadow-color);
}

.button {
  display: block;
  box-sizing: border-box;
  padding: 8px 16px;
  font-family: "PT Sans", sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-align: center;
  color: var(--text-color-contrast);
  text-transform: uppercase;
  text-decoration: none;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

.button:focus-visible {
  outline: var(--browser-outline);
}

.button:active {
  color: var(--text-color-active);
}

.button:disabled,
.button:disabled:hover,
.button:disabled:focus-visible,
.button:disabled:active {
  color: var(--text-color-contrast);
  background-color: var(--button-disabled);
  cursor: auto;
}

.button--primary {
  background-color: var(--button-primary);
}

.button--primary:hover {
  background-color: var(--button-primary-hover);
}

.button--primary:focus-visible {
  background-color: var(--button-primary-hover);
}

.button--primary:active {
  background-color: var(--button-primary);
}

.button--secondary {
  background-color: var(--button-secondary);
}

.button--secondary:hover {
  background-color: var(--button-secondary-hover);
}

.button--secondary:focus-visible {
  background-color: var(--button-secondary-hover);
}

.button--secondary:active {
  background-color: var(--button-secondary);
}

.button--accent {
  background-color: var(--button-accent);
}

.button--accent:hover {
  background-color: var(--button-accent-hover);
}

.button--accent:focus-visible {
  background-color: var(--button-accent-hover);
}

.button--accent:active {
  background-color: var(--button-accent);
}

.button--additional {
  background-color: transparent;
}

.button--additional:hover {
  color: var(--text-color-hover);
}

.button--additional:focus-visible {
  color: var(--text-color-contrast);
}

.button--additional:active {
  color: var(--text-color-active);
}

.button--additional:disabled,
.button--additional:disabled:hover,
.button--additional:disabled:focus-visible,
.button--additional:disabled:active {
  color: var(--text-color-disabled);
}

.button--size-xl {
  font-size: 20px;
  line-height: 36px;
}

.input {
  box-sizing: border-box;
  font-family: inherit;
  padding: 12px;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  color: var(--text-color-accent);
  background-color: var(--input-color);
  border: none;
  border-radius: 4px;
  transition: background-color 0.2s ease;
}

.input::placeholder {
  color: var(--input-placeholder-color);
}

.input:not(:disabled):hover {
  background-color: var(--input-color-hover);
}

.input:focus-visible {
  outline: var(--browser-outline);
  background-color: var(--input-color-hover);
}

.input:disabled {
  opacity: 0.4;
}

.input--number {
  appearance: textfield;
}

.input--number::-webkit-outer-spin-button,
.input--number::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}

.input--counter {
  padding: 12px 0;
  line-height: 20px;
  text-align: center;
  border-radius: 0;
}

.input--counter:focus-visible {
  outline-offset: -3px;
}

.input--price {
  padding: 12px 44px 12px 20px;
}

.input--price::placeholder {
  color: var(--text-color-accent);
}

.input--date {
  padding: 12px 40px 12px 20px;
  background-image: url("../images/icons/calendar.svg");
  background-repeat: no-repeat;
  background-position: top 16px right 22px;
  background-size: 16px 15px;
  appearance: textfield;
}

.input--email {
  padding: 14px 20px;
  font-weight: 400;
}

.input--email:disabled {
  opacity: 0.6;
}

.input--left {
  border-radius: 4px 0 0 4px;
}

.input--right {
  border-radius: 0 4px 4px 0;
}

.page-title {
  font-size: 60px;
  line-height: 78px;
  font-weight: 700;
}

.title {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  color: var(--text-color-accent);
  text-transform: uppercase;
}

.subtitle {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  color: var(--text-color-accent);
  text-transform: uppercase;
}

.main-header {
  display: flex;
  align-items: center;
  padding: 0 70px;
  color: var(--text-color-accent);
}

.main-header__navigation {
  width: 880px;
  margin-right: 20px;
}

.navigation {
  display: flex;
  gap: 30px;
}

.navigation__logo {
  position: relative;
  display: block;
  width: 138px;
  height: 64px;
  transition: opacity 0.2s ease;
}

.navigation__logo:hover {
  opacity: 0.6;
}

.navigation__logo:focus-visible {
  opacity: 0.6;
  outline: var(--browser-outline);
}

.navigation__logo:active {
  opacity: 0.3;
}

.navigation__logo-image {
  display: block;
  width: 140px;
  height: 70px;
  object-fit: contain;
}

.navigation__site-list {
  max-width: 590px;
  margin: 0;
}

.navigation__user-list {
  max-width: 180px;
  margin: 0;
  margin-left: auto;
}

.site-list {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  list-style: none;
}

.site-list__link {
  position: relative;
  display: block;
  padding: 20px 16px;
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  color: var(--text-color-accent);
  text-decoration: none;
  transition: opacity 0.2s ease,
    color 0.2s ease;
}

.site-list__link[href]:hover {
  color: var(--text-color-menu-hover);
}

.site-list__link[href]:focus-visible {
  color: var(--text-color-menu-hover);
  outline: var(--browser-outline);
}

.site-list__link[href]:active {
  opacity: 0.3;
}

.site-list__link--current::before {
  position: absolute;
  content: "";
  bottom: -1px;
  left: 16px;
  right: 16px;
  height: 2px;
  background-color: var(--button-primary);
}

.user-list {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  list-style: none;
}

.user-list__link {
  position: relative;
  display: block;
  min-width: 20px;
  min-height: 20px;
  padding: 22px 12px;
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  color: var(--text-color-accent);
  text-decoration: none;
  background-repeat: no-repeat;
  background-position: center;
  transition: opacity 0.2s ease,
    color 0.2s ease;
}

.user-list__link--search {
  background-image: url("../images/icons/search.svg");
  background-size: 18px 18px;
}

.user-list__link--favorites {
  background-image: url("../images/icons/favorite.svg");
  background-size: 18px 17px;
}

.user-list__link:hover {
  opacity: 0.6;
}

.user-list__link:focus-visible {
  opacity: 0.6;
  outline: var(--browser-outline);
}

.user-list__link:active {
  opacity: 0.3;
}

.user-list__favorites-count {
  position: absolute;
  top: 11px;
  right: 4px;
  box-sizing: border-box;
  width: 20px;
  height: 20px;
  padding: 5px 0;
  font-size: 10px;
  line-height: 10px;
  font-weight: 400;
  text-align: center;
  color: var(--text-color-contrast);
  background-color: var(--icon-color-accent);
  border-radius: 50%;
}

.main-header__button {
  width: 160px;
  align-self: flex-start;
  margin: 14px 0;
}

.main-container {
  flex-grow: 1;
}

.hero {
  padding: 51px 0 82px;
  background-color: var(--bg-color-secondary);
  background-image: url("../images/background/hero-divider.svg"),
    url("../images/background/hero-background.jpg");
  background-size: 100% auto,
    cover;
  background-position: bottom center,
    center center;
  background-repeat: no-repeat;
}

.hero__image {
  display: block;
  width: 458px;
  height: 352px;
  margin: 0 auto;
  object-fit: contain;
}

.advantages {
  padding-top: 69px;
  text-align: center;
}

.advantages__header {
  width: 700px;
  margin: 0 auto 90px;
}

.intro__slogan {
  margin-top: 0;
  margin-bottom: 20px;
}

.advantages .intro__slogan {
  margin-bottom: 25px;
}

.intro__text {
  margin: 0;
}

.advantages__list {
  display: grid;
  grid-template-columns: repeat(3, 400px);
  margin: 0;
  padding: 0;
  list-style: none;
}

.advantages__item {
  padding: 112px 80px;
  background-color: var(--bg-color-accent);
}

.advantages__item:nth-child(4n+3) {
  background-color: var(--bg-color-accent-lighter);
}

.advantages__title {
  position: relative;
  margin-top: 0;
  margin-bottom: 62px;
}

.advantages__title::after {
  position: absolute;
  content: "";
  bottom: -32px;
  left: 50%;
  width: 60px;
  height: 2px;
  transform: translateX(-50%);
  background-color: var(--underline-dark);
}

.advantages__description {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 18px;
  line-height: 21px;
}

.advantages__item--with-photo {
  grid-column: 1 / -1;
  display: flex;
  padding: 0;
  color: var(--text-color-contrast);
  background-color: var(--bg-color-main);
}

.advantages__wrapper {
  padding: 102px 80px;
}

.advantages__photo {
  display: block;
  width: 800px;
  height: auto;
  object-fit: cover;
}

.advantages__item--with-photo:nth-child(8n+5) {
  flex-direction: row-reverse;
}

.advantages__item--with-photo .advantages__title {
  color: var(--text-color-contrast);
}

.advantages__item--with-photo .advantages__title::after {
  background-color: var(--underline-light);
}

.service {
  padding-top: 65px;
  text-align: center;
}

.service__header {
  width: 700px;
  margin: 0 auto 64px;
}

.service__list {
  display: grid;
  grid-template-columns: repeat(3, 400px);
  margin: 0;
  padding: 0;
  list-style: none;
}

.service__item {
  position: relative;
  padding: 81px 85px;
}

.service__item::before {
  position: absolute;
  top: 81px;
  left: 50%;
  content: "";
  width: 75px;
  height: 76px;
  background-color: var(--icon-color);
  mask-repeat: no-repeat;
  mask-position: top;
  transform: translateX(-50%);
}

.service__item--housing::before {
  mask-image: url("../images/icons/housing.svg");
  mask-size: 75px 72px;
}

.service__item--food::before {
  mask-image: url("../images/icons/food.svg");
  mask-size: 74px 70px;
}

.service__item--souvenir::before {
  mask-image: url("../images/icons/souvenir.svg");
  mask-size: 64px 76px;
}

.service__item:nth-child(2n+1) {
  background-color: var(--bg-color-accent);
}

.service__title {
  margin-top: 102px;
  margin-bottom: 30px;
}

.service__desription {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 18px;
  line-height: 21px;
}

.search {
  padding-top: 96px;
  padding-bottom: 96px;
  text-align: center;
}

.search__header {
  width: 700px;
  margin: 0 auto 54px;
}

.search__button {
  min-width: 376px;
  margin: 0 auto;
}

.subscribe {
  padding-top: 96px;
  padding-bottom: 104px;
  text-align: center;
}

.subscribe--index-page {
  color: var(--text-color-contrast);
  background-color: var(--bg-color-secondary);
  background-image: url("../images/background/subscribe-background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.subscribe--index-page .intro__slogan {
  color: var(--text-color-contrast);
}

.subscribe__header {
  width: 700px;
  margin: 0 auto 55px;
}

.subscribe__form {
  width: 684px;
  margin: 0 auto;
}

.subscribe-form {
  display: flex;
}

.subscribe-form__field {
  flex-grow: 1;
  min-width: 340px;
}

.subscribe-form__button {
  min-width: 232px;
  border-radius: 0 4px 4px 0;
}

.main-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 45px 70px 35px;
}

.main-footer__social {
  max-width: 250px;
  margin: 0;
}

.social {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  list-style: none;
}

.social__link {
  display: block;
  width: 47px;
  height: 40px;
  color: var(--icon-color);
  text-decoration: none;
  transition: color 0.2s ease;
}

.social__link::before {
  content: "";
  display: block;
  width: 47px;
  height: 40px;
  background-color: currentColor;
  mask-repeat: no-repeat;
  mask-position: center;
}

.social__link--vk::before {
  mask-image: url("../images/social/vkontakte-logo.svg");
  mask-size: 24px 14px;
}

.social__link--tg::before {
  mask-image: url("../images/social/telegram-logo.svg");
  mask-size: 18px 16px;
}

.social__link--youtube::before {
  mask-image: url("../images/social/youtube-logo.svg");
  mask-size: 27px 17px;
}

.social__link:hover {
  color: var(--icon-color-hover);
}

.social__link:focus-visible {
  color: var(--icon-color-hover);
  outline: var(--browser-outline);
}

.social__link:active {
  opacity: 0.3;
}

.main-footer__phone {
  max-width: 500px;
}

.phone {
  font-size: 40px;
  line-height: 40px;
  color: var(--text-color-accent);
  text-decoration: none;
  transition: color 0.2s ease;
}

.phone:hover {
  color: var(--text-color-menu-hover);
}

.phone:focus-visible {
  color: var(--text-color-menu-hover);
  outline: var(--browser-outline);
}

.phone:active {
  opacity: 0.3;
}

.main-footer__copyright {
  width: 115px;
}

.copyright {
  display: block;
}

.copyright__logo {
  display: block;
  width: 115px;
  height: 33px;
  object-fit: contain;
  transition: fill 0.2s ease;
}

.copyright:hover .copyright__logo {
  fill: var(--text-color-menu-hover);
}

.copyright:focus-visible {
  outline: var(--browser-outline);
}

.copyright:focus-visible .copyright__logo {
  fill: var(--text-color-menu-hover);
}

.copyright:active .copyright__logo {
  opacity: 0.3;
}

.inner-wrapper {
  padding: 35px 70px 70px;
  color: var(--text-color-contrast);
  background-color: var(--bg-color-secondary);
  background-image: url("../images/background/catalog-background.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.inner-wrapper__header {
  margin-bottom: 30px;
}

.inner-header__title {
  margin: 0;
}

.inner-header__breadcrumbs {
  margin: 0;
}

.breadcrumbs {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 0;
  font-size: 16px;
  line-height: 21px;
  list-style: none;
}

.breadcrumbs__item {
  position: relative;
}

.breadcrumbs__item:not(:last-child)::after {
  position: absolute;
  content: "";
  top: 50%;
  right: 0;
  width: 7px;
  height: 10px;
  background-color: var(--bg-color-basic);
  mask-image: url("../images/icons/arror-right.svg");
  mask-repeat: no-repeat;
  mask-position: center;
  transform: translateY(-50%);
}

.breadcrumbs__link {
  display: block;
  padding: 8px 10px 10px 10px;
  margin-right: 8px;
  color: var(--text-color-contrast);
  text-decoration: none;
  transition: opacity 0.2s ease;
}

.breadcrumbs__link--home {
  padding-left: 0;
}

.breadcrumbs__link--home::before {
  display: block;
  content: "";
  width: 13px;
  height: 15px;
  background-color: var(--bg-color-basic);
  mask-image: url("../images/icons/home.svg");
  mask-repeat: no-repeat;
  mask-position: center;
  mask-size: 12px 12px;
}

.breadcrumbs__link[href]:hover {
  opacity: 0.6;
}

.breadcrumbs__link[href]:focus-visible {
  opacity: 0.6;
  outline: var(--browser-outline);
}

.breadcrumbs__link[href]:active {
  opacity: 0.3;
}

.filter-form {
  display: flex;
  gap: 70px;
}

.filter-form__column {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  gap: 40px 70px;
}

.filter-form__column--right {
  width: 549px;
  flex-shrink: 0;
  margin-left: auto;
}

.filter-form__group {
  margin: 0;
  padding: 0;
  border: none;
}

.filter-form__group--price {
  display: flex;
  flex-wrap: wrap;
  gap: 2px;
  width: 288px;
}

.filter-form__column--left .filter-form__group {
  max-width: 185px;
}

.filter-form__title {
  margin-top: 0;
  margin-bottom: 32px;
  padding: 0;
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  text-transform: capitalize;
}

.filter-form__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.filter-form__field {
  margin-top: 0;
  margin-bottom: 16px;
}

.filter-form__field:last-child {
  margin-bottom: 0;
}

.field {
  display: grid;
  grid-template-columns: 20px auto;
  gap: 16px;
  align-items: center;
}

.field__label {
  font-size: 18px;
  line-height: 23px;
}

.field__input {
  position: relative;
  width: 20px;
  height: 20px;
  margin: 0;
  padding: 0;
  background-color: var(--bg-color-basic);
  border-radius: 4px;
  appearance: none;
  transition: opacity 0.2s ease;
}

.field__input::after {
  display: none;
  content: "";
  width: 20px;
  height: 20px;
  background-color: var(--input-checkbox-color);
  mask-repeat: no-repeat;
  mask-position: center;
}

.field--checkbox .field__input::after {
  mask-image: url('../images/icons/list-marker-tick.svg');
}

.field--radio .field__input {
  border-radius: 50%;
}

.field--radio .field__input::after {
  mask-image: url('../images/icons/list-marker-circle.svg');
}

.field__input:checked::after {
  display: block;
}

.field__input:hover,
.field__input:hover ~ .field__label {
  opacity: 0.6;
  cursor: pointer;
}

.field__input:focus-visible {
  outline: var(--browser-outline);
}

.field__input:active,
.field__input:active ~ .field__label {
  opacity: 0.3;
}

.field__input:disabled,
.field__input:disabled ~ .field__label {
  pointer-events: none;
  opacity: 0.3;
}

.filter-form__group--price .filter-form__field {
  width: 143px;
  margin-bottom: 42px;
}

.price-field {
  position: relative;
}

.price-field__label {
  position: absolute;
  top: 13px;
  right: 20px;
  font-size: 18px;
  line-height: 23px;
  color: var(--input-label-color);
}

.price-field__input {
  width: 100%;
}

.filter-form__range {
  width: 100%;
  margin: 0;
}

.range-slider__track {
  position: relative;
  height: 4px;
  background-color: var(--input-range-color);
}

.range-slider__progressbar {
  position: absolute;
  height: 4px;
  background-color: var(--bg-color-basic);
}

.range-slider__toggle {
  position: absolute;
  top: 50%;
  width: 20px;
  height: 20px;
  background-color: var(--bg-color-basic);
  border: none;
  border-radius: 4px;
  transform: translateY(-50%);
  cursor: pointer;
}

.range-slider__toggle:hover {
  box-shadow: 0 4px 10px 0 var(--shadow-toggle-hover);
}

.range-slider__toggle:focus-visible {
  outline: var(--browser-outline);
  box-shadow: 0 4px 10px 0 var(--shadow-toggle-hover);
}

.range-slider__toggle:active {
  outline: var(--browser-outline-toggle);
  box-shadow: 0 7px 15px 0 var(--shadow-toggle-active);
}

.range-slider__toggle--min {
  left: 0;
}

.range-slider__toggle--max {
  right: 0;
}

.filter-form__buttons {
  display: flex;
  flex-direction: column;
  row-gap: 32px;
  width: 191px;
  margin-top: 56px;
}

.catalog {
  padding: 50px 70px 60px;
}

.catalog__wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  margin-bottom: 41px;
}

.catalog__title {
  align-self: center;
  max-width: 400px;
  margin-top: 0;
  margin-right: auto;
  margin-bottom: 0;
}

.catalog__sort {
  width: 292px;
  margin-right: 70px;
}

.sort {
  padding: 12px 40px 12px 18px;
  font-family: inherit;
  font-size: 18px;
  line-height: 21px;
  color: var(--text-color);
  background-color: var(--bg-color-basic);
  background-image: url("../images/icons/arrow-down.svg");
  background-repeat: no-repeat;
  background-position: top 19px right 19px;
  border: 2px solid var(--border-color);
  border-radius: 4px;
  cursor: pointer;
  appearance: none;
  transition: border-color 0.2s ease;
}

.sort:not(:disabled):hover {
  border-color: var(--border-hover);
}

.sort:not(:disabled):focus-visible {
  outline: 2px solid var(--border-hover);
}

.sort:disabled {
  color: var(--text-color-accent);
  border-color: var(--border-active);
  opacity: 0.3;
  cursor: auto;
}

.catalog__view-toggles {
  width: 160px;
  margin: 0;
}

.view-toggles {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  padding: 0;
  list-style: none;
}

.view__toggle {
  display: block;
  box-sizing: border-box;
  width: 48px;
  height: 48px;
  background-size: 16px 14px;
  background-position: center;
  background-repeat: no-repeat;
  border: 2px solid var(--border-color);
  border-radius: 4px;
  transition: border-color 0.2s ease;
}

.view__toggle--tile {
  background-image: url("../images/icons/view-mode-tiles.svg");
}

.view__toggle--card {
  background-image: url("../images/icons/view-mode-card.svg");
}

.view__toggle--list {
  background-image: url("../images/icons/view-mode-list.svg");
}

.view__toggle--active {
  border-color: var(--border-active);
}

.view__toggle:hover {
  border-color: var(--border-active);
}

.view__toggle:focus-visible {
  outline: 2px solid var(--border-hover);
}

.view__toggle:active {
  border-color: var(--border-active);
}

.card-list {
  display: grid;
  grid-template-columns: repeat(3, 340px);
  gap: 20px;
  margin: 0;
  margin-bottom: 40px;
  padding: 0;
  padding-bottom: 40px;
  list-style: none;
  border-bottom: 1px solid var(--border-color);
}

.card {
  display: grid;
  grid-template-columns: 140px 140px;
  grid-template-rows:
    212px
    1fr
    auto;
  gap: 16px 20px;
  padding: 19px;
  border: 1px solid var(--border-color);
  border-radius: 4px;
}

.card__link {
  grid-column: 1 / -1;
  text-decoration: none;
  transition: color 0.2s ease;
}

.card__title {
  margin: 0;
  text-transform: none;
}

.card__link:hover .card__title {
  color: var(--text-color-menu-hover);
}

.card__link:focus .card__title {
  color: var(--text-color-menu-hover);
}

.card__link:active .card__title {
  opacity: 0.3;
}

.card__photo {
  order: -1;
  grid-column: 1 / -1;
  transition: opacity 0.2s ease;
}

.card__photo:hover {
  opacity: 0.8;
}

.card__photo:focus-visible {
  opacity: 0.8;
  outline: var(--browser-outline);
}

.card__photo:active {
  opacity: 0.6;
}

.card__photo-image {
  display: block;
  width: 300px;
  height: 212px;
  object-fit: contain;
}

.card__category {
  grid-column: 1 / 2;
  margin: 0;
  font-size: 18px;
  line-height: 21px;
}

.card__price {
  grid-column: 2 / 3;
  margin: 0;
  font-size: 18px;
  line-height: 21px;
  text-align: right;
}

.card__stars {
  grid-column: 1 / 2;
  align-self: center;
  height: 17px;
  margin: 0;
  background-color: var(--icon-color);
  mask-image: url("../images/icons/star.svg");
  mask-size: 24px 17px;
  mask-position: 0 0;
  mask-repeat: space no-repeat;
}

.card__stars--1 {
  width: 26px;
}

.card__stars--2 {
  width: 50px;
}

.card__stars--3 {
  width: 74px;
}

.card__stars--4 {
  width: 98px;
}

.card__stars--5 {
  width: 122px;
}

.card__rating {
  grid-column: 2 / 3;
  margin: 0;
  padding: 9px 22px 8px;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  text-align: center;
  background-color: var(--bg-color-additional);
  border-radius: 4px;
}

.catalog__paginaion {
  margin: 0;
}

.pagination {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  gap: 8px;
  list-style: none;
}

.pagination__link {
  display: block;
  box-sizing: border-box;
  min-width: 60px;
  height: 60px;
  padding: 12px 10px;
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  color: var(--text-color-contrast);
  text-decoration: none;
  text-align: center;
  background-color: var(--button-secondary);
  border-radius: 4px;
  transition: background-color 0.2s ease;
}

.pagination__link--current {
  color: var(--text-color-accent);
  background-color: var(--bg-color-additional);
}

.pagination__link[href]:hover {
  background-color: var(--button-secondary-hover);
}

.pagination__link[href]:focus-visible {
  background-color: var(--button-secondary-hover);
  outline: var(--browser-outline);
}

.pagination__link[href]:active {
  color: var(--text-color-active);
  background-color: var(--button-secondary);
}

.pagination__ellipsis {
  display: block;
  box-sizing: border-box;
  min-width: 60px;
  height: 60px;
  padding: 16px 21px;
  color: var(--text-color-accent);
  background-color: transparent;
}

.modal {
  box-sizing: border-box;
  padding: 64px 70px;
  background-color: var(--bg-color-basic);
  border: none;
  border-radius: 30px;
  box-shadow: 0 25px 50px 0 var(--shadow-color-modal);
}

.modal::backdrop {
  background-color: var(--bg-color-overlay);
}

.modal__title {
  margin: 0;
  margin-bottom: 64px;
  padding-right: 40px;
}

.search-form {
  display: grid;
  grid-template-columns: 247px 242px;
  column-gap: 88px;
  row-gap: 23px;
  align-items: center;
}

.search-form__group {
  display: grid;
  grid-template-columns: 120px 1fr;
  column-gap: 18px;
  align-items: center;
}

.search-form__group--with-tooltip {
  grid-template-columns: auto 1fr 111px;
  gap: 10px;
}

.search-form__group--dates {
  grid-column: 1 / -1;
  grid-template-rows: 48px 1fr;
  row-gap: 4px;
}

.search-form__label {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  color: var(--text-color-accent);
  text-transform: capitalize;
}

.search-form__group--dates .search-form__label {
  grid-column: 1 / 2;
  grid-row: 1 / 3;
  align-self: start;
  padding-top: 12px;
}

.search-form__message {
  display: none;
  grid-column: 2 / -1;
  grid-row: 2 / 3;
  align-self: start;
  max-width: 400px;
  padding: 0 20px;
  font-size: 16px;
  line-height: 21px;
  font-weight: 400;
  text-transform: none;
}

/* Класс search-form__message--error для сообщения об ошибке */
.search-form__message--error {
  color: var(--text-color-error);
}

.input--date:invalid ~ .search-form__message--error {
  display: block;
}

.input--date:valid ~ .search-form__message {
  display: block;
}

.search-form__counter {
  width: 111px;
}

.counter {
  display: grid;
  grid-template-columns: 40px 31px 40px;
  grid-template-rows: 48px;
}

.counter__buttton {
  padding: 0;
  color: var(--icon-color-controls);
  background-color: var(--input-color);
  border: none;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.counter__buttton::before {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background-color: currentColor;
  mask-repeat: no-repeat;
  mask-position: center;
  mask-size: 14px 14px;
}

.counter__buttton--decrease  {
  border-radius: 4px 0 0 4px;
}

.counter__buttton--decrease::before {
  mask-image: url("../images/icons/minus.svg");
}

.counter__buttton--increase {
  border-radius: 0 4px 4px 0;
}

.counter__buttton--increase::before {
  mask-image: url("../images/icons/plus.svg");
}

.counter__buttton:not(:disabled):hover {
  color: var(--icon-color-additional);
  background-color: var(--input-color-hover);
}

.counter__buttton:focus-visible {
  color: var(--icon-color-additional);
  background-color: var(--input-color-hover);
  outline: var(--browser-outline);
  outline-offset: -3px;
}

.counter__buttton:not(:disabled):active {
  color: var(--shadow-color);
}

.counter__buttton:disabled {
  opacity: 0.4;
  cursor: auto;
}

.tooltip {
  position: relative;
}

.tooltip__text {
  display: none;
  z-index: 1;
  position: absolute;
  top: calc(100% + 15px);
  left: -115px;
  box-sizing: border-box;
  width: 256px;
  padding: 20px 18px 23px 22px;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  color: var(--text-color-contrast);
  text-transform: none;
  background-color: var(--bg-color-tooltip);
  border-radius: 10px;
  box-shadow: 0 15px 30px 0 var(--shadow-color-tooltip);
}

.tooltip__text::before {
  content: "";
  display: block;
  position: absolute;
  top: -9px;
  left: 50%;
  width: 0;
  height: 0;
  border: 10px solid #333333;
  border-left-color: transparent;
  border-right-color: transparent;
  border-top-style: none;
  transform: translateX(-50%);
}

.tooltip__button {
  display: block;
  width: 26px;
  height: 26px;
  background-color: var(--bg-color-main);
  background-image: url("../images/icons/info.svg");
  background-repeat: no-repeat;
  background-size: 2px 12px;
  background-position: center;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.tooltip__button:hover {
  background-color: var(--button-secondary-hover);
}

.tooltip__button:hover + .tooltip__text,
.tooltip__button:focus-visible + .tooltip__text {
  display: block;
}

.tooltip__button:focus-visible {
  background-color: var(--button-secondary-hover);
  outline: var(--browser-outline);
}

.tooltip__button:active {
  background-color: var(--button-secondary);
}

.search-form__submit {
  grid-column: 1 / -1;
  margin-top: 25px;
  padding: 18px;
  font-size: 20px;
  line-height: 24px;
  border-radius: 10px;
}

.search-form__submit:active {
  background-color: var(--button-secondary-hover);
}

.modal__close {
  position: absolute;
  top: 64px;
  right: 52px;
  width: 52px;
  height: 52px;
  color: var(--icon-color-additional);
  background-color: var(--bg-color-additional);
  border: none;
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.modal__close::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 52px;
  height: 52px;
  background-color: currentColor;
  mask-image: url("../images/icons/cross.svg");
  mask-repeat: no-repeat;
  mask-position: center;
  mask-size: 14px 14px;
}

.modal__close:hover {
  background-color: var(--button-disabled);
}

.modal__close:focus-visible {
  outline: var(--browser-outline);
}

.modal__close:active {
  color: var(--icon-color-active);
}
