:root {
  --white: #ffffff;
  --black: #000000;
  --dark-grey: #333333;
  --light-grey: #f2f2f2;
  --brown: #756157;
  --blue: #82b3d3;
  --dark-blue: #3f5e72;
  --light-blue: rgba(131, 179, 211, 0.12);
  --lighter-blue: rgba(131, 179, 211, 0.2);
  --green: #7db54f;

  --text-color: var(--dark-grey);
  --text-color-accent: var(--black);
  --text-color-contrast: var(--white);

  --bg-color-basic: var(--white);
  --bg-color-main: var(--blue);
  --bg-color-dark: var(--dark-blue);
  --bg-color-accent: var(--light-blue);
  --bg-color-accent-lighter: var(--lighter-blue);
  --bg-color-additional: var(--light-grey);

  --button-color-main: var(--brown);
  --button-color-additional: var(--blue);
  --button-color-selected: var(--green);

  --input-color: var(--light-grey);

  --icon-color: var(--black);
  --icon-color-additional: var(--blue);
  --icon-color-accent: var(--green);
}

@font-face {
  font-family: "PT Sans";
  font-weight: 400;
  font-style: normal;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-weight: 700;
  font-style: normal;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

body {
  font-family: "PT Sans", sans-serif;
  font-size: 22px;
  line-height: 26px;
  color: var(--text-color);
  background-color: var(--bg-color-basic);
}

.button {
  font-family: "PT Sans", sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-align: center;
  color: var(--text-color-contrast);
  text-transform: uppercase;
  text-decoration: none;
  background-color: var(--button-color-main);
}

.button-subscribe {
  font-size: 20px;
  line-height: 36px;
  background-color: var(--button-color-additional);
}

.button-submit {
  background-color: var(--button-color-additional);
}

.button-reset {
  background-color: transparent;
}

.search .button {
  font-size: 20px;
  line-height: 36px;
}

.button-favorite {
  background-color: var(--button-color-additional);
}

.button-favorite-added {
  background-color: var(--button-color-selected);
}

.page-header {
  color: var(--text-color-accent);
}

.navigation-link {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  color: var(--text-color-accent);
  text-decoration: none;
}

.favorites-count {
  font-size: 10px;
  line-height: 10px;
  font-weight: 400;
  color: var(--text-color-contrast);
  background-color: var(--icon-color-accent);
}

.hero {
  background-color: var(--bg-color-dark);
  background-image: url("../images/background/hero-background.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.advantages {
  text-align: center;
}

.slogan {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  color: var(--text-color-accent);
  text-transform: uppercase;
}

.advantages-item {
  background-color: rgba(131, 179, 211, 0.12);
}

.advantages-item:nth-child(4n+3) {
  background-color: rgba(131, 179, 211, 0.2);
}

.advantages-title {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  color: var(--text-color-accent);
  text-transform: uppercase;
}

.advantages-description {
  font-size: 18px;
  line-height: 21px;
}

.advantages-item-with-photo {
  color: var(--text-color-contrast);
  background-color: var(--bg-color-main);
}

.advantages-item-with-photo .advantages-title {
  color: var(--text-color-contrast);
}

.service {
  text-align: center;
}

.service-item:nth-child(2n+1) {
  background-color: rgba(131, 179, 211, 0.12);
}

.service-title {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  color: var(--text-color-accent);
  text-transform: uppercase;
}

.service-desription {
  font-size: 18px;
  line-height: 21px;
}

.search {
  text-align: center;
}

.subscription {
  text-align: center;
}

.subscription-title {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  color: var(--text-color-accent);
  text-transform: uppercase;
}

.subscription-index {
  color: var(--text-color-contrast);
  background-color: var(--bg-color-dark);
  background-image: url("../images/background/subscribe-background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.subscription-index .subscription-title {
  color: var(--text-color-contrast);
}

.subscription-field {
  font-family: inherit;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  color: var(--text-color-accent);
  background-color: var(--input-color);
}

.page-footer a {
  color: var(--text-color-accent);
  text-decoration: none;
}

.page-footer-phone {
  font-size: 40px;
  line-height: 40px;
}

.inner-wrapper {
  color: var(--text-color-contrast);
  background-color: var(--bg-color-dark);
  background-image: url("../images/background/catalog-background.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.inner-header-title {
  font-size: 60px;
  line-height: 78px;
  font-weight: 700;
}

.breadcrumbs {
  font-size: 16px;
  line-height: 21px;
}

.breadcrumbs-link {
  color: var(--text-color-contrast);
  text-decoration: none;
}

.filter-title {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
}

.filter-label {
  font-size: 18px;
  line-height: 23px;
}

.filter-input {
  font-family: inherit;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  color: var(--text-color-accent);
  background-color: var(--input-color);
}

.catalog-title {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  color: var(--text-color-accent);
  text-transform: uppercase;
}

.catalog-sort {
  font-family: inherit;
  font-size: 18px;
  line-height: 21px;
}

.card-link {
  text-decoration: none;
}

.card-title {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  color: var(--text-color-accent);
}

.card-category {
  font-size: 18px;
  line-height: 21px;
}

.card-price {
  font-size: 18px;
  line-height: 21px;
}

.card-rating-count {
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  background-color: var(--light-grey);
}

.pagination-link {
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  color: var(--text-color-contrast);
  text-decoration: none;
  background-color: var(--bg-color-main);
}

.pagination-link-current {
  color: var(--text-color-accent);
  background-color: var(--bg-color-additional);
}
