:root {
  --white: #ffffff;
  --black: #000000;
  --dark-grey: #333333;
  --light-grey: #f2f2f2;
  --brown: #756157;
  --blue: #82b3d3;
  --dark-blue: #3f5e72;
  --light-blue: rgba(131, 179, 211, 0.12);
  --lighter-blue: rgba(131, 179, 211, 0.2);
  --green: #7db54f;

  --text-color: var(--dark-grey);
  --text-color-accent: var(--black);
  --text-color-contrast: var(--white);

  --bg-color-basic: var(--white);
  --bg-color-main: var(--blue);
  --bg-color-dark: var(--dark-blue);
  --bg-color-accent: var(--light-blue);
  --bg-color-accent-lighter: var(--lighter-blue);
  --bg-color-additional: var(--light-grey);

  --button-color-main: var(--brown);
  --button-color-additional: var(--blue);
  --button-color-selected: var(--green);

  --input-color: var(--light-grey);

  --icon-color: var(--black);
  --icon-color-additional: var(--blue);
  --icon-color-accent: var(--green);
}

@font-face {
  font-family: "PT Sans";
  font-weight: 400;
  font-style: normal;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-weight: 700;
  font-style: normal;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
  font-family: "PT Sans", sans-serif;
  font-size: 22px;
  line-height: 26px;
  color: var(--text-color);
  background-color: var(--bg-color-additional);
}

.page-container {
  display: flex;
  flex-direction: column;
  width: 1200px;
  min-height: 100%;
  margin: 0 auto;
  background-color: var(--bg-color-basic);
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.2);
}

.button {
  font-family: "PT Sans", sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-align: center;
  color: var(--text-color-contrast);
  text-transform: uppercase;
  text-decoration: none;
  background-color: var(--button-color-main);
}

.button-subscribe {
  font-size: 20px;
  line-height: 36px;
  background-color: var(--button-color-additional);
}

.button-submit {
  background-color: var(--button-color-additional);
}

.button-reset {
  background-color: transparent;
}

.search .button {
  font-size: 20px;
  line-height: 36px;
}

.button-favorite {
  background-color: var(--button-color-additional);
}

.button-favorite-added {
  background-color: var(--button-color-selected);
}

.page-header {
  display: flex;
  align-items: center;
  padding: 0 70px;
  color: var(--text-color-accent);
}

.navigation {
  display: flex;
  width: 880px;
  margin-right: 20px;
}

.navigation-logo {
  width: 140px;
  margin-right: 28px;
}

.navigation-list {
  width: 500px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.user-navigation {
  max-width: 180px;
  margin-left: auto;
}

.navigation-link {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  color: var(--text-color-accent);
  text-decoration: none;
}

.favorites-count {
  font-size: 10px;
  line-height: 10px;
  font-weight: 400;
  color: var(--text-color-contrast);
  background-color: var(--icon-color-accent);
}

.main-container {
  flex-grow: 1;
}

.hero {
  background-color: var(--bg-color-dark);
  background-image: url("../images/background/hero-background.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.hero-img {
  display: block;
  width: 458px;
  height: 352px;
  margin: 0 auto;
  object-fit: contain;
}

.advantages {
  text-align: center;
}

.content-wrapper {
  width: 700px;
  margin: 0 auto;
}

.slogan {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  color: var(--text-color-accent);
  text-transform: uppercase;
}

.advantages-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
}

.advantages-item {
  width: 400px;
  background-color: var(--bg-color-accent);
}

.advantages-item-with-photo {
  width: 100%;
}

.advantages-item:nth-child(4n+3) {
  background-color: var(--bg-color-accent-lighter);
}

.advantages-title {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  color: var(--text-color-accent);
  text-transform: uppercase;
}

.advantages-description {
  font-size: 18px;
  line-height: 21px;
}

.advantages-item-with-photo {
  color: var(--text-color-contrast);
  background-color: var(--bg-color-main);
}

.advantages-item-with-photo .advantages-title {
  color: var(--text-color-contrast);
}

.service {
  text-align: center;
}

.service-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
}

.service-item {
  width: 400px;
}

.service-item:nth-child(2n+1) {
  background-color: var(--bg-color-accent);
}

.service-title {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  color: var(--text-color-accent);
  text-transform: uppercase;
}

.service-desription {
  font-size: 18px;
  line-height: 21px;
}

.search {
  padding: 96px 0;
  text-align: center;
}

.subscription {
  padding-top: 96px;
  padding-bottom: 104px;
  text-align: center;
}

.subscription-title {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  color: var(--text-color-accent);
  text-transform: uppercase;
}

.subscription-index {
  color: var(--text-color-contrast);
  background-color: var(--bg-color-dark);
  background-image: url("../images/background/subscribe-background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.subscription-index .subscription-title {
  color: var(--text-color-contrast);
}

.subscription-field {
  font-family: inherit;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  color: var(--text-color-accent);
  background-color: var(--input-color);
}

.page-footer {
  display: flex;
  align-items: center;
  padding: 40px 70px 30px;
}

.page-footer a {
  color: var(--text-color-accent);
  text-decoration: none;
}

.social-list {
  max-width: 240px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.page-footer-phone {
  max-width: 500px;
  margin: 0 auto;
  font-size: 40px;
  line-height: 40px;
}

.page-footer-link {
  width: 115px;
}

.inner-wrapper {
  padding: 35px 70px 70px;
  color: var(--text-color-contrast);
  background-color: var(--bg-color-dark);
  background-image: url("../images/background/catalog-background.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.inner-header-title {
  font-size: 60px;
  line-height: 78px;
  font-weight: 700;
}

.breadcrumbs {
  font-size: 16px;
  line-height: 21px;
}

.breadcrumbs-link {
  color: var(--text-color-contrast);
  text-decoration: none;
}

.filter-title {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
}

.filter-label {
  font-size: 18px;
  line-height: 23px;
}

.filter-input {
  font-family: inherit;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  color: var(--text-color-accent);
  background-color: var(--input-color);
}

.catalog {
  padding: 50px 70px 60px;
}

.catalog-wrapper {
  display: flex;
  align-items: center;
}

.catalog-title {
  width: 400px;
  margin-right: auto;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  color: var(--text-color-accent);
  text-transform: uppercase;
}

.catalog-sort {
  width: 292px;
  margin-right: 70px;
  font-family: inherit;
  font-size: 18px;
  line-height: 21px;
}

.card-view-buttons {
  width: 160px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.card-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.card-link {
  text-decoration: none;
}

.card-title {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  color: var(--text-color-accent);
}

.card-category {
  font-size: 18px;
  line-height: 21px;
}

.card-price {
  font-size: 18px;
  line-height: 21px;
}

.card-rating-count {
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  background-color: var(--light-grey);
}

.pagination {
  margin: 0;
  padding: 0;
  list-style: none;
}

.pagination-link {
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  color: var(--text-color-contrast);
  text-decoration: none;
  background-color: var(--bg-color-main);
}

.pagination-link-current {
  color: var(--text-color-accent);
  background-color: var(--bg-color-additional);
}
